<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069093205103-dcss504rfn3o7i21745k84osj6v83gfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069093205103-dcss504rfn3o7i21745k84osj6v83gfm</string>
	<key>API_KEY</key>
	<string>AIzaSyDEw8w_C7S44CJCmq0m9OSg97PYf7rWuBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1069093205103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mathilde</string>
	<key>PROJECT_ID</key>
	<string>mathilde-613af</string>
	<key>STORAGE_BUCKET</key>
	<string>mathilde-613af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069093205103:ios:4c3377f4cd71d55797c99a</string>
</dict>
</plist>